<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Administrador</title>
</head>
<div class="franja">Hospital Mision TIC 2020</div>

<form action="">
   
 






      

        </form>
    </div>

</form>
<body>
   <p>
       <span></span>
   </p>
   <div>
    <label>Apertura de Agendas</label>
</div>
    <form action="" method="">
      <p>

      </p>  <label for="choose"style="padding-left:30px;"> Documento de identidad<input type="number" class="perfil"id="choose" name="cedula" oninvalid="this.setCustomValidity('Cedula no valida')"> 
        <p for="choose" style="padding-left:30px;">Nombre <input type="text" name="nombre" class="perfil"required></p>
            <p for="choose" style="padding-left:30px;">Mes
                

<select name="mes"class="perfil" style="width: 125px" required>
   <option value="1">Enero</option> 
   <option value="2">Febrero</option> 
   <option value="3">Marzo</option>
   <option value="10">Abril</option> 
   <option value="11">Mayo</option> 
   <option value="12">Junio</option> 
   <option value="1">Julio</option> 
   <option value="2">Agosto</option> 
   <option value="3">Septiembre</option>
   <option value="10">Octubre</option> 
   <option value="11">Noviembre</option> 
   <option value="12">Diciembre</option> 
</select>
                <p for="choose" style="padding-left:30px;">Hora Primera cita<input class="perfil" style="width: 125px" type="time" min="07:00" max="18:00" step="600"> 
                    <p for="choose" style="padding-left:30px;">Hora Ultima cita <input class="perfil" style="width: 125px" type="time" min="07:00" max="18:00" step="600"> 

                                            
                    <form>
                       
                          <button class="btn btn-topspace" style="left: 40px;">Activar</button>
                          <button style="left: 200px;"class="btn btn-topspace" >Consultar</button>
                          
                          <button style="left: 400px;"class="btn btn-topspace">Reasignar medico</button>
                          <button style="left: 640px;"class="btn btn-topspace">Cancelar Citas</button>

                        </div>
                      </form>
                <p>
        </p>
        

    </form>
   
    
    <div >
       
    </div>
</body>

</html>

<link rel="stylesheet" href="/static/css/superAdmin.css">
