<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion Medico</title>
</head>
<body>
  <div class="franja">Hospital Mision TIC 2020 <input class="cerrarSesion" type="button" value="Cerrar sesion"  onclick="reflogin()"> </div>
    
  <form action="" method="">
    <div><img src="/static/images/back.png" class="home" alt=""  onclick="refSuperAdmin()"></div>
    <div><img src="/static/images/home.png" class="back" alt=""  onclick="refSuperAdmin()"></div>
  </form>

    <div class="textoEncabezadoConsulta" >
        <div><label>Apertura Agenda</label></div>
    </div> 
    <div >Favor ingrese el documento de identidad del medico </div>
    <form action="" method="">
    <div >
    <div class="documento">            Documento de identidad del medico <input id="docMedico" name="docMedico" type="text" class="perfil" > </div>
    <div class="nombre">               Fecha                      <input id="fecha" name="fecha" type="text"  class="perfil"> </div>
    <div class="cargo">                Hora                            <input id="hora" name="hora" type="text"  class="perfil"> </div>
    <div class="genero">               Estado                            <input id="estado" name="estado" type="text"  class="perfil"> </div>

    <div><button type="submit" onclick="validarEdicion()" class="buttonApertura">Abrir Agenda</button></div>
  </form>
</div>
</body>
<script>
    function validarEdicion() {
    var docMedico = document.getElementById("docMedico").value;
    var fecha = document.getElementById("fecha").value;
    var hora = document.getElementById("hora").value;
    var estado = document.getElementById("estado").value;
    if (((docMedico=="")==false)&&(isNaN(docMedico)==false)) {
      if ((fecha=="")==false) {
        if ((hora=="")==false) {
          if ((estado=="")==false) {
            alert('Cita cargada')
          }else{alert('Favor llenar estado')}
        }else{alert('Favor llenar hora')}
      }else{alert('Favor llenar fecha')}
    }else{alert('Favor llenar documento de identidad de medico o revisar el dato ingresado')}
  }
    function refSuperAdmin() {
    location.href="http://127.0.0.1:5000/superAdministrador"
  }

  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">

<link rel="stylesheet" href="/static/css/medico.css">
