<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion Medico</title>
</head>
<body>
  <div class="franja">Hospital Mision TIC 2020 <input class="cerrarSesion" type="button" value="Cerrar sesion"  onclick="reflogin()"> </div>
    
  <form action="" method="">
    <div><img src="/static/images/back.png" class="home" alt=""  onclick="refSuperAdmin()"></div>
    <div><img src="/static/images/home.png" class="back" alt=""  onclick="refSuperAdmin()"></div>
  </form>

    <div class="textoEncabezadoConsulta" >
        <div><label>Apertura Agenda</label></div>
    </div> 
    <div >Favor ingrese el documento de identidad del medico </div>
    <form action="" method="POST" name="formulario">
    <div >
    <div class="documento">            Documento de identidad del medico <input id="docMedico" name="docMedico" type="number" class="perfilJ" >(*) </div>
    <div class="nombre">               Fecha                      <input id="fecha" name="fecha" type="date"  class="perfilJ"> (*) </div>
    <div class="cargo">                Hora                           <input id="hora" name="hora" type="time"  class="perfilJ">(*)  </div>
    
    </div>

    <div><button type="button" onclick="validarEdicion()" class="buttonApertura" formnovalidate>Abrir Agenda</button></div>
  </form>
</div>
<p style="color: red;position: relative;left: 550px;top: 500px;">{{mensaje}}</p>
<p style="color: green;position: relative;left: 550px;top: 500px;">{{mensajep}}</p>
</body>
<script>
    function validarEdicion() {
    var docMedico = document.getElementById("docMedico").value;
    var fecha = document.getElementById("fecha").value;
    var hora = document.getElementById("hora").value;
    var fechaValidar =/^\d{4}-\d{2}-\d{2}$/;
    var horaValidar=/^\d{2}:\d{2}$/ ;
    if (((docMedico=="")==false)&&(isNaN(docMedico)==false)) {
      if ((fecha=="")==false && (docMedico=="")==false && fechaValidar.exec(fecha)) {
        if ((hora=="")==false && (docMedico=="")==false && horaValidar.exec(hora)) {
          alert('Agendando cita....')
          document.formulario.submit()
        }else{alert('[ERROR]Favor llenar hora')}
      }else{alert('[ERROR]Favor llenar fecha')}
    }else{alert('[ERROR]Favor llenar documento de identidad de medico o revisar el dato ingresado')}
  }
    function refSuperAdmin() {
    location.href="http://127.0.0.1:5000/superAdministrador"
  }

  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">

<link rel="stylesheet" href="/static/css/medico.css">
