<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/js/validacionCitaMedica.js"></script>
    <title>Citas Médicas</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020<input type="button" value="Cerrar sesion" onclick="reflogin()" style="position: absolute;left: 1350px;"></div>
    <div class="container-end">
        <div class="icon">
            <img src="/static/images/back.png" alt="" onclick="location.href='http://127.0.0.1:5000/paciente'">
        </div>
        <div class="icon">
            <img src="/static/images/home.png" alt="" onclick="location.href='http://127.0.0.1:5000/paciente'">
        </div>
    </div>
    <div class="border">
        Agendamiento de Cita
    </div>
    <form action="" name="formulario" method="POST">
        <div>
            <label for="">Fecha(*)</label>
            <input type="date" id="fechaConsulta" name="fecha">
            
        </div>
    
    <div>
        <div class="button"><button onclick="validarDatosConsulta()" type="button">Listar citas</button></div>
    </div>
    
    <textarea style="height: 100px;width: 95px;" cols="10" rows="10" readonly>{{citasDisponibles}} </textarea>
    <textarea style="height: 100px;width: 110px;" id="" cols="10" rows="10" readonly>{{hora}}</textarea>
    
    
    <div>
        <div>Ingrese el id de la cita que desea agendar <input type="number" id="idCita" name="idCitaSolicitada"></div>
        <div class="button"><button onclick="validarDatosAgendamiento()" type="button">Solicitar cita</button></div>
    </div>
    <div class="border">
        Calificar citas pasadas
    </div>
    <div>
        
    <div class="box" style="height: 20px;"><label for="" style="margin-right: 3px;">Id cita</label>
        <input type="number" id="idCitaCalificar" name="idCitaCalificarn"></div>
    <div class="box" style="height: 20px;"><label for="" style="margin-right: 3px;">Calificación cita</label>
        <select name="calificacion" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    </div>
    <div>
        <div class="button"><input type="button" onclick="validarDatosCalificacion()" value="Calificar cita"></div>
    </div>
    </form>
    <p style="color: red;position: relative;left: 500px;">{{mensaje}}</p>
    <p style="color: green;position: relative;left: 500px;">{{mensajep}}</p>
</body>

</html>
<link rel="stylesheet" href="/static/css/citaMedica.css">
<script>
    function validarDatosConsulta(){
        var fechaConsulta = document.getElementById("fechaConsulta").value;
        var fechaValidar =/^\d{4}-\d{2}-\d{2}$/;
        if ((fechaConsulta=="")==false && fechaValidar.exec(fechaConsulta) ) {
            alert('Consultando citas disponibles...');
            document.formulario.submit()
        }else{alert('[Error]Fecha invalida');}
    }
    function validarDatosAgendamiento(){
        var idCita = document.getElementById("idCita").value;
        var documento = document.getElementById("docPaciente").value;
        if ((idCita=="")==false && isNaN(idCita)== false) {
            alert('Agendando cita...');
            document.formulario.submit()
        }else{alert('[Error]Ingrese el id de la cita que desea agendar');}
        
    }
    function validarDatosCalificacion(){
        var idCitaCalificar = document.getElementById("idCitaCalificar").value;
        if ((idCitaCalificar=="")==false && isNaN(idCitaCalificar)== false ) {
            alert('Calificando la cita ingresada....');
            document.formulario.submit()
        }else{alert('[Error]Ingrese el id de la cita que desea calificar');}
    }
    function reflogin() {
        location.href="http://127.0.0.1:5000"}
    function refmedico() {
        location.href="http://127.0.0.1:5000/paciente"
    }
</script>