<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta medica</title>
</head>

<body>
  <div class="franja">Hospital Mision TIC 2020 <input class="cerrarSesion" type="button" value="Cerrar sesion"  onclick="reflogin()"> </div>
    
  <form action="" method="">
    <div><img src="/static/images/back.png" class="home" alt=""  onclick="refmedico()"></div>
    <div><img src="/static/images/home.png" class="back" alt=""  onclick="refmedico()"></div>
  </form>

  <div class="textoEncabezadoConsulta" >
    <div><label>Consulta Medica</label></div>
  </div> 

  <div class="textoEncabezadoDatosPaciente">Datos paciente</div>

  <form action="" method="get">
    <div class="documento">            Documento de identidad             <input name="docPAciente" type="text" name="cedula" class="perfil" > </div>
    <div class="nombre">               Nombre                             <input name="nombrePaciente" type="text" name="nombre" class="perfil"> </div>
    <div class="cargo">                Genero                             <input name="genero" type="text" name="genero" class="perfil"></div>
    <div class="genero">               Edad                               <input name="edad" type="text" name="edad" class="perfil"></div>
    <div class="edad">                 Tipo de sangre                     <input name="tipoRh" type="text" name="nombre" class="perfil"> </div>
  </form>

  <form action="" method="post">
    <div class="sintomas">             Sintomas                           <div><textarea name="sintomas" id="sintomas" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
    <div class="antecedentes">         Antecedentes familiares            <div><textarea name="antecedentes" id="antecedentes" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
    <div class="cirugias">             Cirugias                           <div><textarea name="cirugias" id="cirugias" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
    <div class="diagnostico">          Diagnostico                        <div><textarea name="diagnostico" id="diagnostico" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
    <div class="peso">                 Peso                               <input name="peso" id="peso" type="text" class="datosConsulta"></div>
    <div class="altura">               Altura                             <input name="altura" id="altura" type="text" class="datosConsulta"></div>
    <div class="precion">              Precion arterial                   <input name="precion" id="precion" type="text" class="datosConsulta"></div>
    <div class="temperatura">          Temperatura                        <input name="temperatura" id="temperatura" type="text" class="datosConsulta"> </div>
    <div class="farmacologia">         Farmacologia consumo medicamentos  <input id="farmacologiaCheck" type="checkbox"><input name="farmacologia" id="farmacologia" type="text"class="datosConsulta"></div>
    <div class="parejas">              Parejas                            <input name="parejas" id="parejas" type="text" class="datosConsulta"></div>
    <div class="embarazos">            Embarazos                          <input id="embarazosCheck" type="checkbox"> <input name="embarazos" id="embarazos" type="text" class="datosConsulta"></div>
    <div class="nacidosVivos">         Nacidos vivos                      <input name="nacidosVivos" id="nacidosVivos" type="text" class="datosConsulta"></div>
    <div class="partoNatural">         Parto Natural                      <input  id="partoNaturalCheck" type="checkbox"><input name="partoNatural" id="partoNatural" type="text" class="datosConsulta"></div>
    <div class="metodoAnticonceptivo"> Metodo Anticonceptivo              <input id="metodoAnticonceptivoCheck" type="checkbox"><input name="metodoAnticonceptivo" id="metodoAnticonceptivo" type="text" class="datosConsulta"></div>
    <div class="drogas">               Drogas                             <input id="drogasCheck" type="checkbox"><input name="dogras" id="drogas" type="text" class="datosConsulta"></div>
    <div class="autorizaciones"><label>Autorizacion de examenes medicos   </label></div><div><textarea name="autorizacionExamenes" id="examenes" cols="30" rows="10" class="textoAutorizaciones"></textarea></div>
    <div class="medicamentos"><label>  Ordenes medicamentos - formulas    </label></div><div><textarea name="ordenesMedicamentos" id="medicamentos" cols="30" rows="10" class="textoMedicamentos"></textarea></div>
    <div><input  type="submit"  value="Guardar consulta" class="buttonGuardarConsulta"></div>
  </form>
  <div class="footer" style="top: 900px;">Esta plataforma cumple con la politica de privacidad y datos vigentes</div>
    
</body>
<script>

  function validarConsulta(){
    var peso = document.getElementById("peso").value;
    var altura = document.getElementById("altura").value;
    var precion = document.getElementById("precion").value;
    var temperatura = document.getElementById("temperatura").value;
    var farmacologia = document.getElementById("farmacologia").value;
    var farmacologiaCheck = document.getElementById("farmacologiaCheck").checked;
    var parejas = document.getElementById("parejas").value;
    var embarazos = document.getElementById("embarazos").value;
    var embarazosCheck = document.getElementById("embarazosCheck").checked;
    var nacidosVivos = document.getElementById("nacidosVivos").value;
    var partoNatural = document.getElementById("partoNatural").value;
    var partoNaturalCheck = document.getElementById("partoNaturalCheck").checked;
    var metodoAnticonceptivo = document.getElementById("metodoAnticonceptivo").value;
    var metodoAnticonceptivoCheck = document.getElementById("metodoAnticonceptivoCheck").checked;
    var drogas = document.getElementById("drogas").value;
    var drogasCheck = document.getElementById("drogasCheck").checked;
    var sintomas = document.getElementById("sintomas").value;
    var cirugias = document.getElementById("cirugias").value;
    var antecedentes = document.getElementById("antecedentes").value;
    var diagnostico = document.getElementById("diagnostico").value;
    var examenes = document.getElementById("examenes").value;
    var medicamentos = document.getElementById("medicamentos").value;

    if(isNaN(peso)==false && (peso=="")==false){
      if(isNaN(altura)==false && (altura=="")==false){
        if(isNaN(precion)==false && (precion=="")==false){
          if(isNaN(temperatura)==false && (temperatura=="")==false){
            if((/^[A-ZÁÉÍÓÚÑ ]+$/i.test(farmacologia) && (farmacologia=="")==false)||(farmacologiaCheck==false)){
              if (isNaN(parejas)==false && (parejas=="")==false) {
                if ((isNaN(embarazos)==false && (embarazos=="")==false)||(embarazosCheck==false)) {
                  if (isNaN(nacidosVivos)==false && (nacidosVivos=="")==false) {
                    if ((isNaN(partoNatural)==false && (partoNatural=="")==false)||(partoNaturalCheck==false)) {
                      if ((/^[A-ZÁÉÍÓÚÑ ]+$/i.test(metodoAnticonceptivo) && (metodoAnticonceptivo=="")==false)||(metodoAnticonceptivoCheck==false)) {
                        if ((cirugias=="")==false) {
                          if ((/^[A-ZÁÉÍÓÚÑ ]+$/i.test(drogas) && (drogas=="")==false)||(drogasCheck==false)) {
                            if ((sintomas=="")==false) {
                              if ((antecedentes=="")==false) {
                                if ((diagnostico=="")==false) {
                                  if((examenes=="")==false) {
                                    if ((medicamentos=="")==false) {
                                      alert('Datos guardados');
                                    }else{alert('[ERROR] Favor ingresar ordenes de medicamentos a cargar')}
                                  }else{alert('[ERROR] Favor ingresar examenes medicos a cargar')}
                                }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en diagnostico');}
                              }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en antecedentes');}
                            }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en sintomas');}
                          }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en drogas');}
                        }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en cirugias');}
                      }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en metodo anticonceptivo');}
                    }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en parto natural');}
                  }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en nacidos vivos');}
                }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en embarazos');}
              }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en parejas');}
            }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en farmacologia');}
          }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en temperatura');}
        }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en precion');}
      }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en altura');}
    }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en peso');}
  }

  function refmedico() {
    location.href="http://127.0.0.1:5000/medico"
  }

  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
</script>
</html>

<link rel="stylesheet" href="/static/css/estilos.css">

<link rel="stylesheet" href="/static/css/medico.css">