
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta medica</title>
</head>

<body>
  <div class="franja">Hospital Mision TIC 2020 <input type="button" value="Cerrar sesion" style="position: absolute; left: 1340px;top: 10px;"> </div>
    <form action="">
        <div><img src="/static/images/back.png" alt="" style="position: absolute;width: 40px;height: 40px;left: 1390px;top: 50px;" onclick="refmedico()"></div>
        <div><img src="/static/images/home.png" alt="" style="position: absolute;width: 40px;height: 40px;left: 1332px;top: 50px;" onclick="refmedico()"></div>
    </form>
    <div style="position: absolute;top: 80px;">
      <div><input type="checkbox"><label>Consulta Medica</label></div>
    </div> 
    <div style="position: absolute;top: 90px;left: 260px;">Datos paciente</div>
    <form action="" method="">
        <div style=" position: absolute; top: 126px;">Documento de identidad<input type="text" name="cedula" class="perfil" > </div>
        <div style=" position: absolute; top: 166px;">Nombre <input type="text" name="nombre" class="perfil"> </div>
        <div style=" position: absolute; top: 206px;">Genero<input type="text" name="genero" class="perfil"></div>
        <div style=" position: absolute; top: 246px;">Edad<input type="text" name="edad" class="perfil"></div>
        <div style=" position: absolute; top: 286px;">Tipo de sangre <input type="text" name="nombre" class="perfil"> </div>
        <div style=" position: absolute; top: 326px;">Sintomas<div><textarea name="" id="" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
        <div style=" position: absolute; top: 426px;">Antecedentes familiares<div><textarea name="" id="" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
        <div style=" position: absolute; top: 526px;">Cirugias<div><textarea name="" id="" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
        <div style=" position: absolute; top: 626px;">Diagnostico<div><textarea name="" id="" cols="30" rows="10" class="textoConsulta"></textarea></div></div>
    </form>
    <form action="" >
      <div style="position:absolute;top:120px;left: 850px;">Peso<input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:170px;left: 850px;">Altura<input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:220px;left: 850px;">Precion arterial<input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:270px;left: 850px;">Temperatura<input type="text" class="datosConsulta"> </div>
      <div style="position:absolute;top:320px;left: 850px;">Farmacologia consumo medicamentos <input type="checkbox"><input type="text"class="datosConsulta"></div>
      <div style="position:absolute;top:370px;left: 850px;">Parejas<input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:420px;left: 850px;">Embarazos<input type="checkbox"> <input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:470px;left: 850px;">Nacidos vivos<input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:520px;left: 850px;">Parto Natural<input type="checkbox"><input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:570px;left: 850px;">Metodo Anticonceptivo<input type="checkbox"><input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:620px;left: 850px;">Cirugias<input type="checkbox"><input type="text" class="datosConsulta"></div>
      <div style="position:absolute;top:670px;left: 850px;">Tabaco<input type="checkbox"><input type="text" class="datosConsulta"></div>
      <!--<div style="position:absolute;top:120px;left: 1250px;">Consumo de alcohol<input type="checkbox"></div>
      <div style="position:absolute;top:170px;left: 1250px;">Drogas<input type="checkbox"><input type="text"></div>
      <div style="position:absolute;top:220px;left: 1250px;">Infusione<input type="checkbox"><input type="text"></div>-->
    </form>
    </form>
    <form action="" style=" position: absolute; top: 726px;">
      <div><input type="checkbox"><label>Autorizacion de examenes medicos</label></div>
      <div><textarea name="" id="" cols="30" rows="10" class="textoAutorizaciones"></textarea></div>
    </form>
    <form action="" style="position: absolute;top: 850px;"><input type="button" value="Imprimir"><input type="button" value="Guardar autorizaciones" style="position: absolute; left: 100px;"></form>
    <form action="" style=" position: absolute; top: 726px;left: 920px;">
      <div><input type="checkbox"><label>Ordenes medicamentos - formulas</label></div>
      <div><textarea name="" id="" cols="30" rows="10" class="textoAutorizaciones"></textarea></div>
    </form>
    <form action="" style="position: absolute;top: 850px;left: 1000px;"><input type="button" value="Imprimir"><input type="button" value="Guardar ordenes medicamentos - Formula" style="position: absolute; left: 100px;"></form>
    <div class="footer" style="top: 900px;">Esta plataforma cumple con la politica de privacidad y datos vigentes</div>
    
</body>
<script>
  function refmedico() {
    return render_template("medico.html")
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">