<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta medica</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020</div>
    <div>
        <label>Perfil de usuario</label>
    </div>
    <form action="" method="">
        <div>Documento de identidad<input type="text" name="cedula" class="perfil" > </div>
        <div>Nombre <input type="text" name="nombre" class="perfil"> </div>
        <div>Cargo/Especialidad<input type="text" name="cargo" class="perfil"></div>
        <div>Edad<input type="text" name="edad" class="perfil"></div>
        <div>Correo electronico <input type="text" name="correo" class="perfil"></div>
    </form>
    <p>A continuacion podra gestionar su agenda de citas</p>
    <table class="">
        <tr>
          <td>Hora</td><td>Lunes</td><td>Martes</td><td>Miercoles</td><td>Jueves</td><td>Viernes</td><td>Sabado</td><td>Domingo</td>
        </tr>
        <tr>
          <td>05:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
        <tr>
          <td>06:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
        <tr>
          <td>07:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
        <tr>
          <td>08:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
        <tr>
          <td>09:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
        <tr>
          <td>10:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
        <tr>
          <td>11:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
        <tr>
          <td>12:00 AM</td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td><td><input type="button" class="his_cli"></td>
        </tr>
    </table>
    <form action="" method="">
        <div>Dia<input type="date" > Hora <input type="time"> </div>
        <div>Descripcion cita <input type="text" > </div>
        <input type="button" value="Ir a consulta"> 
    </form>
    <form action="">
        <div style="position: absolute;width: 336px;height: 34px;left: 1102px;top: 50px;">Consulta Historia Clinica Paciente</div>
        <div > <input type="search" placeholder="Documento de identidad paciente " style="position: absolute;width: 336px;height: 34px;left: 1102px;top: 70px;background: #ECECEC;border-radius: 15px;"> </div>
    </form>
</body>

</html>
<link rel="stylesheet" href="/static/css/estilos.css">