<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Administrador</title>
</head>
<div class="franja">Hospital Mision TIC 2020</div>

<form action="">
   
        </form>
    </div>




    
</form>
<body>
   <p>
       <span></span>
   </p>
   <div>
    <label>Dash Board Citas</label>
</div>
    <form action="" method="">
        <p style="padding-left:30px;">Fecha Inicial<input type="date"style="width: 125px"  name="Fechainicial" class="perfil" > </p>
        <p style="padding-left:30px;">Fecha Final<input type="date" style="width: 125px"  name="Fechainicial" class="perfil" > </p>

        <p for="choose" style="padding-left:30px;">Hora Inicial<input class="perfil" style="width: 125px" type="time" min="07:00" max="18:00" step="600"> 
            <p for="choose" style="padding-left:30px;">Hora Final<input class="perfil" style="width: 125px" type="time" min="07:00" max="18:00" step="600"> 
        

            <p style="padding-left:30px;">D.I. Paciente<input type="text" name="idPaciente" class="perfil"></p>
                <p style="padding-left:30px;">D.I. Medico<input type="text" name="idMedico" class="perfil"></p>
                    <p style="padding-left:30px;">Especialidad <input type="text" name="Especialidad" class="perfil"></p> 
                    <p style="padding-left:30px;">Estado<input type="text" name="estado" class="perfil"></p>
                        <p style="padding-left:30px;">Calificación Promedio<input type="text" name="Calificacion" class="perfil"></p> 

                        
 
                            
                <p>
        <input style="left: 400px;top:85px;width: 159px;height: 48px;"class="btn btn-topspace" type="button" value="Consultar"> 
              
        </p>
        

    </form>
   
    
    <div >
       
    </div>
    <p></p>
</body>
<p></p>
<p></p>
<br> <br>

<table width="1200" cellspacing="1" cellpadding="3" border="0" bgcolor="#80A93E">
<tr>
   <td style="text-align-last: center;" bgcolor="#B7F259"><font size=1 face="verdana, arial, helvetica"><b>PANEL DE INFORMACION</b></font></td>
</tr>
<tr>
   <td bgcolor="#F5ECB9">

    <table width="95%" cellspacing="1" cellpadding="1" border="0" align="center">

 <!--             columna 1             -->

                <form>
            <textarea style="width: 1200px;" name="" id="" cols="9" rows="5">
                ACA VAN LAS COLUMNAS
                Fecha, Hora, ID Paciente, Paciente, ID Medico, Médico, Especialidad, Estado, Calificacion
            </textarea>
        </form>
</html>
<link rel="stylesheet" href="/static/css/superAdmin.css">

