<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Administrador</title>
</head>
<div class="franja">Hospital Mision TIC 2020</div>

<form action="">
   
        </form>
    </div>

</form>
<body>
   <p>
       <span></span>
   </p>
   <div>
    <label>Dash Board Citas</label>
</div>
    <form action="" method="">
        <p style="padding-left:30px;">Fecha Inicial<input type="text" name="Fechainicial" class="perfil" > </p>
        <p style="padding-left:30px;">Hora Inicial <input type="text" name="Horainicial" class="perfil"></p>
            <p style="padding-left:30px;">D.I. Paciente<input type="text" name="idPaciente" class="perfil"></p>
                <p style="padding-left:30px;">D.I. Medico<input type="text" name="idMedico" class="perfil"></p>
                    <p style="padding-left:30px;">Especialidad <input type="text" name="Especialidad" class="perfil"></p> 
                    <p style="padding-left:30px;">Estado<input type="text" name="estado" class="perfil"></p>
                        <p style="padding-left:30px;">Calificación<input type="text" name="Calificacion" class="perfil"></p> 

                        <p style="position: absolute;left: 770px;top: 89px;">Fecha Inicial<input type="text" name="Fechainicial" class="perfil"></p>
                            <p style="position: absolute;left: 770px;top: 125px;">Hora Inicial<input type="text" name="HoraInicial" class="perfil"></p> 
                        

                        
                            
                <p>
        <input style="left: 200px;top: 350px;width: 159px;height: 48px;"class="btn btn-topspace" type="button" value="Consultar"> 
              
        </p>
        

    </form>
   
    
    <div >
       
    </div>
</body>

</html>
<link rel="stylesheet" href="/static/css/estilos.css">

