<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Administrador</title>
</head>
<body>
    <div class="franja">Hospital Mision TIC 2020 <input type="button" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion"> </div>
    <form action="" method="get">
        <div><img src="/static/images/back.png" alt="" class="back" onclick="refSuperAdministrador()"></div>
        <div><img src="/static/images/home.png" alt="" class="home" onclick="refSuperAdministrador()"></div>
    </form>
    <div><img src="/static/images/back.png" class="back" onclick="refSuperAdministrador()"></div>
    <div><img src="/static/images/home.png" class="home" onclick="refSuperAdministrador()"></div>
    
    <div>
       <label>Dash Board Citas</label>
    </div>
    <form action="" style="top:30px;position: relative;" method="POST" name="formulario">
        <p style="padding-left:30px;">Fecha cita  <input type="date"style="width: 125px"  name="fechaCita" class="perfil" id="fecha"> </p>
        <p style="padding-left:30px;">Hora cita  <input type="time" style="width: 125px"  name="horaCita" class="perfil" id="hora" min="06:00" max="18:00" step="900"> </p>
        <p for="choose" style="padding-left:30px;">Id Medico<input class="perfil" style="width: 125px" type="number" name ="idMedico" id="docMedico">           
        <p><input onclick="validarEdicion()" style="left: 400px;top:85px;width: 159px;height: 48px;"class="btn btn-topspace" type="button" value="Consultar"> </p>
        
        <textarea style="width: 1100px;height: 300px;top: 50px;position: relative;" name="" id="" cols="9" rows="5" readonly>{{citaConsulta}}</textarea>
        

    </form>
    <p style="color: red;position: relative;left: 550px;top: 100px;">{{mensaje}}</p>
</body>
<script>
    function validarEdicion() {
        var docMedico = document.getElementById("docMedico").value;
        var fecha = document.getElementById("fecha").value;
        var hora = document.getElementById("hora").value;
        var fechaValidar =/^\d{4}-\d{2}-\d{2}$/;
        var horaValidar=/^\d{2}:\d{2}$/ ;
        if (((docMedico=="")==false)) {
            if((isNaN(docMedico)==false)){
                alert('Consultando agenda medica.... ') 
                document.formulario.submit()
            }else{alert('[ERROR]Favor llenar documento de identidad de medico correctamente')}
        }
        if ((hora=="")==false) {
            if(horaValidar.exec(hora)){
                alert('Consultando agenda medica....')
                document.formulario.submit()
            } else{alert('[ERROR]Favor llenar hora correctamente')}
        }
        if ((fecha=="")==false) {
            if(fechaValidar.exec(fecha)){
                alert('Consultando agenda medica....')
                document.formulario.submit()
            } else{alert('[ERROR]Favor llenar fecha correctamente')}
        }
    }
    function refSuperAdministrador() {
        location.href="http://127.0.0.1:5000/superAdministrador"
  }
  function reflogin() {
        location.href="http://127.0.0.1:5000/"
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/superAdmin.css">
<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/medico.css">


