<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion Medico</title>
</head>
<body>
  <div class="franja">Hospital Mision TIC 2020 <input class="cerrarSesion" type="button" value="Cerrar sesion"  onclick="reflogin()"> </div>
    
  <form action="" method="">
    <div><img src="/static/images/back.png" class="home" alt=""  onclick="refSuperAdmin()"></div>
    <div><img src="/static/images/home.png" class="back" alt=""  onclick="refSuperAdmin()"></div>
  </form>

  <div class="textoEncabezadoConsulta" >
    <div><label>Edicion datos medico</label></div>
  </div> 

  <div class="textoEncabezadoDatosPaciente">Favor ingrese el documento de identidad original del medico para el cual desee editar su informacion </div>
  <form action="" method="POST">
    <div>
    <div class="documento">            Documento de identidad del medico (original) <input id="docMedicoOriginal" name="docMedicoOriginal" type="text" class="perfil" > </div>
    <div class="nombre">            Documento de identidad del medico(nuevo) <input id="docMedico" name="docMedico" type="text" class="perfil" > </div>
    <div class="cargo">               Especialidad                      <input id="especialidad" name="especialidad" type="text"  class="perfil"> </div>
    <div class="genero">                Estado                            <input id="estado" name="estado" type="text"  class="perfil"> </div>
    <div><button type="submit" onclick="validarEdicion()" class="buttonEditarMedico">Editar Medico</button></div>
  </form>
</body>
<script>
    function validarEdicion() {
    var docMedico = document.getElementById("docMedico").value;
    var especialidad = document.getElementById("especialidad").value;
    var estado = document.getElementById("estado").value;
    if ((docMedico=="")==false){
        if (isNaN(docMedico)==false) {
            alert('Cedula actualizada');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el documento de identidad');}
    }
    if ((especialidad=="")==false){
        if (isNaN(especialidad)) {
            alert('Especialidad actualizada');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el especialidad');}
    }
    if ((estado=="")==false) {
        if ((estado="activo") || (estado="inactivo")) {
            alert('Estado actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el estado');}
    }
    
  }
    function refSuperAdmin() {
    location.href="http://127.0.0.1:5000/superAdministrador"
  }

  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">

<link rel="stylesheet" href="/static/css/medico.css">