<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Administrador</title>

<div style="margin-bottom: 5%;" class="franja">Hospital Mision TIC 2020</div>


    <var></var>
        
</head>
<body>
    <input type="button" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion">
    <div><img src="/static/images/back.png" alt="" class="back" onclick="refSuperAdmin()"></div>
    <div><img src="/static/images/home.png" alt="" class="home" onclick="refSuperAdmin()"></div>
    <form action="" method="POST">
        <div class="containerpaciente" >
            <div><label>Nombres</label></div>
            <div><input type="text" name="nombres" id="nombres"></div>
            <div><label>Documento de identidad del paciente (Original)</label></div>
            <div><input type="text" name="idOriginal" id="idOriginal"></div>
            <div><label>Documento de identidad del paciente (Nuevo)</label></div>
            <div><input type="number" name="id" id="id"></div>
            <div><label>Edad</label></div>
            <div><input type="number" name="edad" id="edad"></div>
            <div><label>Profesión</label></div>
            <div><input type="text" name="profesion" id="profesion"></div>
            <div><label>Email</label></div>
            <div><input type="email" name="email" id="email"></div>
            <div><label>Género</label></div>
            <div><input type="genero" name="genero" id="genero"></div>
            <div><label>Tipo de Sangre</label></div>
            <div><input type="rh" name="rh" id="rh"></div>
            <div><label>Estado</label></div>
            <div><input type="estado" name="estado" id="estado"></div>
            
        
            
            <div><input class="btn btn-center" type="submit" value="Guardar" onclick="validarEdicion()"> </div>
        </div>
    </form>   
    
</body>

<script>
    function validarEdicion() {
    var nombres = document.getElementById("nombres").value;
    var id = document.getElementById("id").value;
    var edad = document.getElementById("edad").value;
    var profesion = document.getElementById("profesion").value;
    var edad = document.getElementById("edad").value;
    var email = document.getElementById("email").value;
    var genero = document.getElementById("genero").value;
    var rh = document.getElementById("rh").value;
    var estado = document.getElementById("estado").value;
    var expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    if ((nombres=="")==false){
        if (isNaN(nombres)) {
            alert('Nombre actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el nombre');}
    }
    if ((id=="")==false){
        if (isNaN(id)==false) {
            alert('Documento de identidad actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el documento de identidad');}
    }
    if ((edad=="")==false) {
        if (isNaN(edad)==false) {
            alert('Edad actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el edad');}
    }

    if ((profesion=="")==false) {
        if (isNaN(profesion)) {
            alert('Profesion actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el profesion');}
    }
    if (!expr.exec(email)==false && (email=="")==false) {
        
        if (isNaN(email)) {
            alert('Email actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el email');}
    }

    if ((genero=="")==false) {
        if (isNaN(genero)) {
            alert('genero actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el genero');}
    }
    
    if ((rh == "")==false) {
        
        if (isNaN(rh)) {
            alert('rh actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el rh');}
        
    }
    if ((estado=="")==false) {
        if ((estado="activo") || (estado="inactivo")) {
            alert('Estado actualizado');
        }else{alert('[ERROR] Datos no guardados, favor ingrese corectamente el estado');}
    }
    
  }
    function refSuperAdmin() {
    location.href="http://127.0.0.1:5000/superAdministrador"
  }

  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
</script>
</html>


    </html>

<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/superAdmin.css">
<link rel="stylesheet" href="/static/css/medico.css">
<script>
function refdashboard() {
    location.href="http://127.0.0.1:5000/superAdministrador/dashboard"
  }
</script>