<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion Medico</title>
</head>
<body>
  <div class="franja"><b>Hospital Universitario Santa Clara ESE</b>  <input type="button" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion"> </div>
  <div><img src="/static/images/home.png" alt="" class="home" style="top:65px;" onclick="refSuperAdmin()"></div>
  <div><label style="position: absolute;top: 60px;font-size: 20px;"><b>Edicion datos medico</b></label></div>
  <div class="textoEncabezadoDatosPaciente" style="font-size: 17px;">Favor ingrese el documento de identidad original del medico para el cual desee editar su informacion </div>
  <form action="" method="POST" name="formulario">
    <div>
    <div class="documento" style="font-size: 17px;">  Documento de identidad medico-(original) <input  style="position: absolute;left: 300px;"  id="docMedicoOriginal" name="docMedicoOriginal" type="number" class="perfil" > </div>
    <div class="nombre" style="font-size: 17px;">  Documento de identidad medico-(nuevo) <input style="position: absolute;left: 300px;"  id="docMedico" name="docMedico" type="number" class="perfil" > </div>
    <div class="cargo" style="font-size: 17px;">   Especialidad                      <input style="position: absolute;left: 300px;" id="especialidad" name="especialidad" type="text"  class="perfil"> </div>
    <div class="genero" style="font-size: 17px;">  Estado (activo/inactivo)         <input style="position: absolute;left: 300px;" id="estado" name="estado" type="text"  class="perfil"> </div>
    <div><input type="button" onclick="validarEdicion()" class="buttonEditarMedico" style="font-size: 17px; border-radius: 5px;" value="Editar medico"></div>
  </form>
  <p style="color: red;position: absolute;left: 550px;top: 500px;">{{mensaje}}</p>
  <p style="color: green;position: absolute;left: 550px;top: 500px;">{{mensajep}}</p>
  <div><img src="/static/images/footer.jfif" alt="" style="position: absolute;top: 605px;line-height: 29px;text-align: center;width: 1462px;height: 150px;" ></div>
    <div class="footer" style="top: 750px;"><b>Esta plataforma cumple con la politica de privacidad y datos vigentes</b> </div>
</body>
<script>
    function validarEdicion() {
    var docMedico = document.getElementById("docMedico").value;
    var especialidad = document.getElementById("especialidad").value;
    var estado = document.getElementById("estado").value;
    c=0
    if ((docMedico=="")==false && (especialidad=="")==false && (estado=="")==false && c==0){
      c=1
      if (isNaN(docMedico)==false && isNaN(especialidad) && (estado="activo") || (estado="inactivo")) {
        alert('Actualizando datos....');
        document.formulario.submit()
      }else{alert('Favor revisar los datos ingresados');}
    }
    if ((docMedico=="")==false && (especialidad=="")==false && c==0){
      c=1
      if (isNaN(docMedico)==false && isNaN(especialidad)) {
        alert('Actualizando datos....');
        document.formulario.submit()
      }else{alert('Favor revisar los datos ingresados');}
    }
    if ((docMedico=="")==false && (estado=="")==false && c==0){
      c=1
      if (isNaN(docMedico)==false && (estado="activo") || (estado="inactivo")) {
        alert('Actualizando datos....');
        document.formulario.submit()
      }else{alert('Favor revisar los datos ingresados');}
    }
    if ((especialidad=="")==false && (estado=="")==false && c==0){
      c=1
      if (isNaN(especialidad) && (estado="activo") || (estado="inactivo")){
        alert('Actualizando datos....');
        document.formulario.submit()
      }else{alert('Favor revisar los datos ingresados');}
    }
    if ((docMedico=="")==false && c==0){
      c=1
      if (isNaN(docMedico)==false) {
          alert('Actualizando documento de identidad....');
          document.formulario.submit()
      }else{alert('[ERROR] Datos no guardados, favor ingrese correctamente el documento de identidad');}
    }
    if ((especialidad=="")==false && c==0){
      c=1
      if (isNaN(especialidad)) {
          alert('Actualizando especialidad....');
          document.formulario.submit()
      }else{alert('[ERROR] Datos no guardados, favor ingrese correctamente el especialidad');}
    }
    if ((estado=="")==false && c==0) {
      c=1
      if ((estado="activo") || (estado="inactivo")) {
          alert('Actualizando estado....');
          document.formulario.submit()
      }else{alert('[ERROR] Datos no guardados, favor ingrese correctamente el estado');}
    }
    
  }
    function refSuperAdmin() {
    location.href="http://127.0.0.1:5000/superAdministrador"
  }

  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">

<link rel="stylesheet" href="/static/css/medico.css">