<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Médico</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020<input type="button" value="Cerrar sesion" onclick="reflogin()" style="position: absolute;left: 1360px;"></div>
    <div class="container-end">
        <div class="icon">
            <img src="/static/images/back.png" alt="" onclick="location.href='http://127.0.0.1:5000/paciente'">
        </div>
        <div class="icon">
            <img src="/static/images/home.png" alt="" onclick="location.href='http://127.0.0.1:5000/paciente'">
        </div>
    </div>
    <form action="" method="POST">
        <div class="border">
            Examenes medicos 
        </div>
        <div>
            <form class="form-inline" action="" >
                <div class="box" style="position: absolute;top:140px;"><button type="submit" onclick="validarDatosExamMedRealizado()">Ver</button></div>
                <div>Ingrese su documento de identidad <input type="text" name="idPaciente"></div>
            </form>
        </div>
        <div>
            <form>
                <textarea name="" id="" cols="30" rows="2">{{ examenes }}</textarea>
            </form>
        </div>
    </form>
    
    
    
</body>

</html>
<link rel="stylesheet" href="/static/css/examenMedico.css">
<script>
    function validarDatosExamMedRealizado() {
        let fechaInicialExamMedRealizado = document.getElementById("fechaInicialExamMedRealizado").value;
        let fechaFinalExamMedRealizado = document.getElementById("fechaFinalExamMedRealizado").value;

        if (fechaInicialExamMedRealizado === '' || fechaFinalExamMedRealizado === '' || fechaInicialExamMedRealizado > fechaFinalExamMedRealizado) {
            alert('Para ver y descargar los exámenes realizados es necesario no dejar campos en blanco y que la fecha final no sea anterior a la fecha inicial')
        }
    }

    function validarDatosExamMedPend() {
        let fechaInicialExamMedPend = document.getElementById("fechaInicialExamMedPend").value;
        let fechaFinalExamMedPend = document.getElementById("fechaFinalExamMedPend").value;

        if (fechaInicialExamMedPend === '' || fechaFinalExamMedPend === '' || fechaInicialExamMedPend > fechaFinalExamMedPend) {
            alert('Para ver y descargar los exámenes pendientes es necesario no dejar campos en blanco y que la fecha final no sea anterior a la fecha inicial')
        }
    }
    function reflogin() {
        location.href="http://127.0.0.1:5000"}
    function refmedico() {
        location.href="http://127.0.0.1:5000/paciente"
    }
</script>