<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia clinica</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020 <input type="button" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion"> </div>
    <form action="" method="get">
        <div><img src="/static/images/back.png" alt="" class="back" onclick="refmedico()"></div>
        <div><img src="/static/images/home.png" alt="" class="home" onclick="refmedico()"></div>
    </form>
    <form action="" method="POST" class="formularioHistoriaClinica" name="formulario">
      <p>A continuacion podra consultar la historia clinica del paciente</p>
      <div>
        <div>      Documento de identidad paciente <input name="docPaciente" type="number" id="docPaciente"  class="perfil" ><button type="button" onclick = "validarDatos()" class="buttonConsultarHistoria" >Consultar historia clinica</button> </div>
      </div>
      <div><textarea name="historia" id="historia" cols="30" rows="10" class="textoHistoriaClinica" readonly>{{ historia }}</textarea></div>  
      
    </form>
    <p style="color: red;position: relative;left: 600px;top: 500px;">{{mensaje}}</p>
    <div class="footer" style="top: 750px;">Esta plataforma cumple con la politica de privacidad y datos vigentes</div>
    
</body>
<script>
  function validarDatos(){
    var documento = document.getElementById("docPaciente").value;
    if ((documento=="")==false && isNaN(documento)== false ) {
      alert('Consultando historia clinica...');
      document.formulario.submit()
    }else{alert('[Error]Ingrese docuemento de identidad de paciente');}
  }
  
  function refmedico() {
    location.href="http://127.0.0.1:5000/medico"
  }
  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
  </script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/medico.css">