<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia clinica</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020</div>
    <div>
        <label>Perfil de pasiente</label>
    </div>
    <form action="" method="">
        <div style=" position: absolute; top: 126px">Documento de identidad<input type="text" name="cedula" class="perfil" > </div>
        <div style=" position: absolute; top: 166px">Nombre <input type="text" name="nombre" class="perfil"> </div>
        <div style=" position: absolute; top: 206px">Genero<input type="text" name="genero" class="perfil"></div>
        <div style=" position: absolute; top: 246px">Edad<input type="text" name="edad" class="perfil"></div>
        <div style=" position: absolute; top: 286px">Correo electronico <input type="text" name="correo" class="perfil"></div>
        <div style=" position: absolute; top: 326px">Tipo de sangre <input type="text" name="nombre" class="perfil"> </div>
        <div style=" position: absolute; top: 366px">Numero de contacto<input type="text" name="genero" class="perfil"></div>
        <div style=" position: absolute; top: 406px">Direccion de recidencia<input type="text" name="edad" class="perfil"></div>
    </form>
    
    <form action="">
        <div style="position: absolute;width: 336px;height: 34px;left: 1102px;top: 50px;">Consulta Historia Clinica Paciente</div>
        <div > <input type="search" placeholder="Documento de identidad paciente " style="position: absolute;width: 336px;height: 34px;left: 1102px;top: 70px;background: #ECECEC;border-radius: 15px;"> </div>
    </form>
</body>

</html>
<link rel="stylesheet" href="/static/css/estilos.css">