<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/franja.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Login</title>
</head>

<body>
  <div class="franja">Hospital Uninorte</div>
  <div><a href="registroPaciente">Registrarse como paciente</a></div>
  <form action="/" method="POST">
    <div class="containerLogin">
      <div><label>Documento de Identidad</label></div>
      <div><input type="number" name="id" id="id"></div>
      <div><label>Contraseña</label></div>
      <div><input type="password" name="password" id="password"></div>
      <div></div>
      <div><button>Ingresar</button></div>
    </div>
  </form>
  <div class="containerMensaje">{{ mensaje }}</div>
  <div class="containerMensaje">{{ vSesion }}</div>
</body>
<script>
  function validarDatos(){
    var id = document.getElementById("id").value
    if((id=="")==false && isNaN(id)==false){
      alert('Validando los datos ingresados...');
    }else{alert('[ERROR]Favor revise los datos ingresados, operacion abortada');}
  }
</script>
</html>