<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medico</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020 <input type="button" value="Cerrar sesion" onclick="reflogin()" style="position: absolute; left: 1340px;top: 10px;"></div>
    <div style="position: absolute;top: 90px;">
        <label>Perfil de usuario</label></div>
    <div><img class="fotoperfil" src="static/images/person.png"></div> 
    <div style="position: absolute; left: 400px;top: 90px;">Recuerde mantener sus datos basicos actualizados</div>
    <form action="" method="">
      <div style=" position: absolute; top: 126px;left: 250px;">Documento de identidad<input id="documentoIdentidad" type="text" name="cedula" class="perfil" > </div>
      <div style=" position: absolute; top: 167px;left: 250px;">Nombre <input id="nombre" type="text" name="nombre" class="perfil"> </div>
      <div style=" position: absolute; top: 208px;left: 250px;">Cargo/Especialidad<input id="cargo" type="text" name="cargo" class="perfil"><input type="button" onclick="validarDatos()" value="Editar/Guardar" style="left: 700px;position: absolute;"></div>
      <div style=" position: absolute; top: 253px;left: 250px;">Edad<input id="edad" type="text" name="edad" class="perfil"></div>
      <div style=" position: absolute; top: 300px;left: 250px;">Correo electronico <input id="correo" type="text" name="correo" class="perfil"></div>
    </form>
    <form action="">
      <div style="position: absolute;width: 336px;height: 34px;left: 1102px;top: 50px;">Consulta Historia Clinica Paciente</div>
      <div> <input type="text" id="docPaciente" placeholder="Documento de identidad paciente " style="position: absolute;width: 296px;height: 34px;left: 1102px;top: 70px;background: #ECECEC;border-radius: 15px;"> </div>
      <div><img src="static/images/search.png" alt="" onclick="refhisPaciente()" style="position: absolute;width: 30px;height: 30px;left: 1410px;top: 70px;"></div>
    </form>
    <form action="" style="position: absolute;top: 350px;">
      <p>A continuacion podra consultar su agenda de citas</p>
      <div>
        <label for="">Ingrese fecha a consultar</label><input id="fecha" type="date"><input type="button" value="Consultar agenda medica" onclick="validarFechaAgenda()">
      </div>
      <textarea name="" id="" cols="30" rows="10" class="textoHistoriaClinica"></textarea>
      <div style="position: absolute;top: 350px;left: 550px;">Ingrese Id de cita <input id="idCita" type="text"><input type="button" value="Ir a cita Medica" onclick="refConsPaciente()" style="position: absolute;left: 250px;"></div>
    </form>
    <div class="footer" style="top: 755px;">Esta plataforma cumple con la politica de privacidad y datos vigentes</div>
</body>
<script>
  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
  function idcita() {
    
    location.href="http://127.0.0.1:5000"
  }
  function validarDatos(){
    var expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var documento = document.getElementById("documentoIdentidad").value;
    var nombre = document.getElementById("nombre").value;
    var cargo = document.getElementById("cargo").value;
    var edad = document.getElementById("edad").value;
    var correo = document.getElementById("correo").value;
    if(isNaN(documento)==false && (documento=="")==false){
      if(/^[A-ZÁÉÍÓÚÑ ]+$/i.test(nombre) && (nombre=="")==false){
        if(/^[A-ZÁÉÍÓÚÑ ]+$/i.test(cargo) && (cargo=="")==false){
          if(isNaN(edad)== false && (edad=="")==false){
            if(!expr.exec(correo)==false && (correo=="")==false){
              alert('Datos guardados');
              //actualizar base de datos
            }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en correo');}
          }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en edad');}
        }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en cargo');}
      }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en nombre');}
    }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en documento');}
  }
  function refhisPaciente() {
    var docPaciente = document.getElementById("docPaciente").value;
    if (docPaciente==""){
      alert('[ERROR] Debe de ingresar el documento del paciente ');
      return false;
    }else{
      if(isNaN(docPaciente)){
      // Si no se cumple la condicion...
      alert('[ERROR] Debe de ingresar el documento de identidad del paciente correctamente ');
      return false;
      }else{location.href="http://127.0.0.1:5000/medico/historiaClinica"}
    }
    
  }
  function validarFechaAgenda() {
    var fecha = document.getElementById("fecha").value;
    if (fecha=="") {
      alert('[ERROR] Debe de ingresar la fecha del dia de agenda a consultar');
    }else{alert('Cargando agenda medica')}
    
  }
  function refConsPaciente() {
    var idCita = document.getElementById("idCita").value;
    if (isNaN(idCita)== false && (idCita=="")==false) {
      location.href="http://127.0.0.1:5000/medico/consultaMedica"
    }else{alert('[ERROR] Debe de ingresar el id de la cita existente');}
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">