<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medico</title>
</head>

<body>
  <div class="franja">Hospital Mision TIC 2020 <input type="button" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion"></div>
  
  <form action="" method="">
    <div class="textoConsultaHistoria">Consulta Historia Clinica Paciente</div>
    <div><input type="button" value="Ir a interfaz de consulta de histotias medicas" onclick="refhisPaciente()" class="buttonHistoria"></div>
  </form>

  <form action="" method="POST" class="enunciadoAgenda">
    <!--<div>Bienvenido {{ nombres }}</div>-->
    <p>A continuacion podra consultar su agenda de citas  (Favor ingresar la fecha en el siguiente formato "AAAA-MM-DD")</p>
    <div class="consultaFecha"><label for=""> Ingrese fecha a consultar</label><input name="fechaAgenda" id="fecha" type="text" class="fechaAgenda"><label for=""> Ingrese su dumento de identidad</label><input name="docMedico" type="text" ><input type="submit" value="Consultar agenda medica" onclick="validarFechaAgenda()"></div>
    <p style="position: absolute;top: 100px;">Sus citas agendadas para el dia solicitado son:</p>
    <div style="position: absolute;top: 150px;"><textarea name="" id="" cols="12" rows="13">{{ agendaHorasStr }}</textarea>
      <textarea name="" id="" cols="11" rows="13">{{ agendaIdStr }}</textarea>
    </div>
    <div class="consultarId"><input type="button" value="Ir a interfaz de consulta medica" onclick="refConsPaciente()" class="buttonId"></div>
  </form>

  <div class="footer" style="top: 755px;">Esta plataforma cumple con la politica de privacidad y datos vigentes</div>

</body>
<script>
  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
  function idcita() {
    
    location.href="http://127.0.0.1:5000"
  }
  function validarDatos(){
    var expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var documento = document.getElementById("documentoIdentidad").value;
    var nombre = document.getElementById("nombre").value;
    var cargo = document.getElementById("cargo").value;
    var edad = document.getElementById("edad").value;
    var correo = document.getElementById("correo").value;
    if(isNaN(documento)==false && (documento=="")==false){
      if(/^[A-ZÁÉÍÓÚÑ ]+$/i.test(nombre) && (nombre=="")==false){
        if(/^[A-ZÁÉÍÓÚÑ ]+$/i.test(cargo) && (cargo=="")==false){
          if(isNaN(edad)== false && (edad=="")==false){
            if(!expr.exec(correo)==false && (correo=="")==false){
              alert('Datos guardados');
              //actualizar base de datos
            }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en correo');}
          }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en edad');}
        }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en cargo');}
      }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en nombre');}
    }else{alert('[ERROR] Datos no guardados, favor revice los datos ingresados en documento');}
  }
  function refhisPaciente() {
    location.href="http://127.0.0.1:5000/medico/historiaClinica"
  }
  function validarFechaAgenda() {
    var fecha = document.getElementById("fecha").value;
    if (fecha=="") {
      alert('[ERROR] Debe de ingresar la fecha del dia de agenda a consultar');
    }else{alert('Cargando agenda medica')}
    
  }
  function refConsPaciente() {
    location.href="http://127.0.0.1:5000/medico/consultaMedica"
   
  }
</script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/medico.css">