<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020</div>
    <div class="containerBienvenida"></div>
    <div class="containerDashboard">
        <div class="box">
            <img class="icon" src="/static/images/citaMedica.png" alt="">
            <!--http://127.0.0.1:5000/paciente/citaMedica-->
            <button type="button" onclick="location.href='http://127.0.0.1:5000/paciente/citaMedica'">Citas
                Médicas</button>
        </div>
        <div class="box">
            <img class="icon" src="/static/images/examenMedico.png" alt="">
            <button type="button" onclick="location.href='http://127.0.0.1:5000/paciente/examenMedico'">Exámenes
                Médicos</button>
        </div>
        <div class="box">
            <img class="icon" src="/static/images/historiaClinica.png" alt="">
            <button type="button" onclick="location.href='http://127.0.0.1:5000/paciente/historiaClinica'">Historia
                Clínica</button>
        </div>
    </div>

    </div>
</body>

</html>
<link rel="stylesheet" href="/static/css/paciente.css">