<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia clinica paciente</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020 <input type="submit" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion"> </div>
    <form action="" method="get">
        <div><img src="/static/images/back.png" alt="" class="back" onclick="refPaciente()"></div>
        <div><img src="/static/images/home.png" alt="" class="home" onclick="refPaciente()"></div>
    </form>
    <form action="" method="POST" class="formularioHistoriaClinica" name="formulario">
      <p>A continuacion podra consultar su historia clinica</p>
      <div>
       <input type="button" onclick="validarDatos()" class="buttonConsultarHistoria" value="Consultar historia clinica"> </div>
      </div>
      <div><textarea name="historia" id="historia" cols="30" rows="10" class="textoHistoriaClinica" readonly>{{ historia }}</textarea></div>  
    </form>
    <p style="color: red;position: relative;left: 600px; top: 550px;">{{mensaje}}</p>
    <div class="footer" style="top: 750px;">Esta plataforma cumple con la politica de privacidad y datos vigentes</div>
    
</body>
<script>
  function validarDatos(){
    alert('Consultando historia clinica...')
    document.formulario.submit()
  }

  function refPaciente() {
    location.href="http://127.0.0.1:5000/paciente"
  }
  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
  </script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/medico.css">