<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente Historia Clínica</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020</div>
    <div class="container-end">
        <div class="icon">
            <img src="/static/images/back.png" alt="" onclick="location.href='http://127.0.0.1:5000/paciente'">
        </div>
        <div class="icon">
            <img src="/static/images/home.png" alt="" onclick="location.href='http://127.0.0.1:5000/paciente'">
        </div>
    </div>
    <div class="border">
        Datos Paciente
    </div>
    <div class="container">
        <label for="">Documento de identidad</label>
        <label class="label" , for="">Aqui va el documento de identidad</label>
        <label for="">Nombres</label>
        <label class="label" , for="">Aqui van los nombres</label>
        <label for="">Apellidos</label>
        <label class="label" , for="">Aqui van los apellidos</label>
    </div>
    <div class="border">
        Historia Clínica
    </div>
    <div>
        <form class="form-inline" action="">
            <div class="box"><button type="button" onclick="validarDatosHistClin()">Ver</button></div>
            <div class="box" style="height: 20px;"><label for="" style="margin-right: 3px;">Fecha Inicial</label><input
                    type="date" id="fechaInicialHistClin" name="fechaInicialHistClin"></div>
            <div class="box" style="height: 20px;"><label for="" style="margin-right: 3px;">Fecha Final</label><input
                    type="date" id="fechaFinalHistClin" name="fechaFinalHistClin"></div>
        </form>
    </div>
    <div>
        <textarea name="" id="" cols="5" rows="30">
            </textarea>
    </div>
    <div>
        <div class="button"><button type="button" onclick="validarDatosHistClin()">Descargar</button></div>
    </div>
</body>

</html>
<link rel="stylesheet" href="/static/css/pacienteHistoriaClinica.css">
<script>
    function validarDatosHistClin() {
        let fechaInicialHistClin = document.getElementById("fechaInicialHistClin").value;
        let fechaFinalHistClin = document.getElementById("fechaFinalHistClin").value;

        if (fechaInicialHistClin === '' || fechaFinalHistClin === '' || fechaInicialHistClin > fechaFinalHistClin) {
            alert('Para ver y descargar los exámenes pendientes es necesario no dejar campos en blanco y que la fecha final no sea anterior a la fecha inicial')
        }
    }
</script>