<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia clinica paciente</title>
</head>

<body>
  <div class="franja"><b>Hospital Universitario Santa Clara ESE</b>  <input type="button" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion"> </div>
  <div><img src="/static/images/home.png" alt="" class="home" style="top:65px;" onclick="refPaciente()"></div>
  <form action="" method="POST" style="position: absolute;top: 60px;" name="formulario">
    <p style="font-size: 20px;"><b>Historia Clinica</b></p>
    <p style="font-size: 18px;">A continuacion podra consultar su historia clinica</p>
    <div>
     <input type="button" onclick="validarDatos()" style="border-radius: 5px;font-size: 17px;" value="Consultar historia clinica"> </div>
    </div>
    <div><textarea name="historia" id="historia" cols="30" rows="10" class="textoHistoriaClinica" readonly>{{ historia }}</textarea></div>  
  </form>
    <p style="color: red;position: absolute;left: 600px; top: 550px;">{{mensaje}}</p>
    <div><img src="/static/images/footer.jfif" alt="" style="position: absolute;top: 605px;line-height: 29px;text-align: center;width: 1462px;height: 150px;" ></div>
    <div class="footer" style="top: 750px;"><b>Esta plataforma cumple con la politica de privacidad y datos vigentes</b> </div>
    
</body>
<script>
  function validarDatos(){
    alert('Consultando historia clinica...')
    document.formulario.submit()
  }

  function refPaciente() {
    location.href="http://127.0.0.1:5000/paciente"
  }
  function reflogin() {
    location.href="http://127.0.0.1:5000"
  }
  </script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/medico.css">