<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020</div>
    <form>
        <div class="container">
            <div class="box">Nombres</div>
            <div class="box"><input type="text"></div>
            <div class="box">Apellidos</div>
            <div class="box"><input type="text"></div>
            <div class="box">Correo electrónico</div>
            <div class="box"><input type="email"></div>
            <div class="box">Número de identificación</div>
            <div class="box"><input type="number"></div>
            <div class="box">Contraseña</div>
            <div class="box"><input type="password"></div>
            <div class="box"></div>
            <div class="box"><button type="submit">Registrarse</button></div>
        </div>
</body>

</html>
<link rel="stylesheet" href="/static/css/registrarse.css">