<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>

<body>
    <div class="franja">Hospital Mision TIC 2020</div>
    <form method="POST">
        <div class="container">
            <div class="box">Nombres</div>
            <div class="box"><input type="text" id="nombres" name="nombres"></div>
            <div class="box">Apellidos</div>
            <div class="box"><input type="text" id="apellidos" name="apellidos"></div>
            <div class="box">Correo electrónico</div>
            <div class="box"><input id="email" name="email" type="email"></div>
            <div class="box">Número de identificación</div>
            <div class="box"><input type="number" id="id" name="id"></div>
            <div class="box">Contraseña</div>
            <div class="box"><input type="password" id="contrasena1" name="contrasena1"></div>
            <div class="box">Confirmar contraseña</div>
            <div class="box"><input type="password" id="contrasena2" name="contrasena2"></div>
            <div class="box"></div>
            <div class="box"><button type="submit" onclick="validarDatos()">Registrarse</button></div>
        </div>
</body>

</html>
<script>
    function validarDatos() {
        var nombres = document.getElementById("nombres").value;
        var apellidos = document.getElementById("apellidos").value;
        var email = document.getElementById("email").value;
        var id = document.getElementById("id").value;
        var contrasena1 = document.getElementById("contrasena1").value;
        var contrasena2 = document.getElementById("contrasena2").value;
        if (nombres === '' || apellidos === ''
            || email === '' || id === ''
            || contrasena1 === '' || contrasena2 === '') {
            alert('Existen campos en blanco')
        }
        if (contrasena1 != contrasena2) {
            alert('[ERROR] Las contraseñas ingresadas no coinciden');
        }

    }
</script>
<link rel="stylesheet" href="/static/css/registrarse.css">