<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Administrador</title>

<div class="franja">Hospital Mision TIC 2020</div>

<p>
    <var>
        <div><img src="static/images/back.png" class="formatoparaback"></div>
<div><img src="static/images/home.png" class="formatoparahome" alt=""></div>
</var>
</p>
<var>
</head>
</var>
<form action="">
<p></p>
<p>
    <var></var>
    <div class="cuerpoizquierdo">Consulta Historia Clinica Paciente</div></p>
    
   
    
 
    <div class="SearchDiv">
        <form action="">
            <div style="position: absolute;width: 336px;height: 34px;left: 1102px;top: 50px;">Consulta Historia Clinica Paciente</div>
            <div> <input type="text" id="docPaciente" placeholder="Documento de identidad paciente " style="position: absolute;width: 296px;height: 34px;left: 1102px;top: 70px;background: #ECECEC;border-radius: 15px;"> </div>
            <div><img src="static/images/search.png" alt="" onclick="refhisPaciente()" style="position: absolute;width: 30px;height: 30px;left: 1410px;top: 70px;"></div>
          </form>
    </div>

</form>
<body>
   <p>
       <span></span>
   </p>
   <div>
    <label>Edición Perfil Superadministrador</label>
</div>

<form>
    <div class="container">
        <div class="box">Documento de identidad</div>
        <div class="box"><input type="number"></div>
        <div class="box">Nombre</div>
        <div class="box"><input type="text"></div>
        <div class="box">Correo electrónico</div>
        <div class="box"><input type="email"></div>
        <div class="box">Profesión</div>
        <div class="box"><input type="text"></div>
        <div class="box">Cargo</div>
        <div class="box"><input type="text"></div>
        <div class="box">Fecha de Nacimiento</div>
        <div class="box"><input type="date"></div>


    </form>
    <form action="" method="" style=" position: absolute; top: 390px;">
        
        <div></div>
        <div></div>
        
        <div></div>
        <div></div>
        <div></div>
      
        <input class="container;btn btn-center" type="button" value="Editar"> 
            <input class="btn btn-center" type="button" value="Guardar"> 
        <p> 
        
        </p><label>INTERFAZ</label>
        <p> 
            <label>        Editar datos basicos  e informacion corespondiente a usuarios</label>
        </p>
        <input  class="container; btn btn-space" type="button" value="Apertura de Agenda"> 
        <input class="btn btn-space" type="button" value="Datos Medicos"> 
        <p> 
             <input class="btn btn-space" type="button" value="Datos Pacientes"> 

        
            <input class="btn btn-space" type="button" value="Dashboard citas"onclick="refdashboard()"> 
        </p>
        

    </form>
   
    
    <div >
        <img class="fotoperfil" src="static/images/person.png">
    </div>
</body>


</html>
<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/superAdmin.css">
<script>
function refdashboard() {
    location.href="http://127.0.0.1:5000/superAdministrador/dashboard"
  }
</script>