<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia clinica</title>
</head>

<body>
    <div class="franja"><b>Hospital Universitario Santa Clara ESE</b>  <input type="button" value="Cerrar sesion" onclick="reflogin()" class="cerrarSesion"> </div>   
    <div><img src="/static/images/home.png" alt="" class="home" style="top:65px;" onclick="refmedico()"></div>
    
    <form action="" method="POST" class="formularioHistoriaClinica" name="formulario">
      <p style="font-size: 20px;"><b>A continuacion podra consultar la historia clinica del paciente</b> </p>
      <div>
        <div style="font-size: 18px;">      Documento de identidad paciente <input name="docPaciente" type="number" id="docPaciente"  class="perfil" ><button type="button" onclick = "validarDatos()" class="buttonConsultarHistoria" >Consultar historia clinica</button> </div>
      </div>
      <div><textarea name="historia" id="historia" cols="30" rows="10" class="textoHistoriaClinica" readonly>{{ historia }}</textarea></div>  
      
    </form>
    <p style="color: red;position: absolute;left: 600px;top: 500px;">{{mensaje}}</p>
    <div><img src="/static/images/footer.jfif" alt="" style="position: absolute;top: 605px;line-height: 29px;text-align: center;width: 1462px;height: 150px;" ></div>
    <div class="footer" style="top: 750px;"><b>Esta plataforma cumple con la politica de privacidad y datos vigentes</b> </div>
    
</body>
<script>
  function validarDatos(){
    var documento = document.getElementById("docPaciente").value;
    if ((documento=="")==false && isNaN(documento)== false ) {
      alert('Consultando historia clinica...');
      document.formulario.submit()
    }else{alert('[Error]Ingrese docuemento de identidad de paciente');}
  }
  
  function refmedico() {
    location.href="http://davidmayama.pythonanywhere.com/medico"
  }
  function reflogin() {
    location.href="http://davidmayama.pythonanywhere.com/"
  }
  </script>
</html>
<link rel="stylesheet" href="/static/css/estilos.css">
<link rel="stylesheet" href="/static/css/medico.css">