<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/franja.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="franja">Hospital Universitario Santa Clara ESE</div>
    <div><a href="registroPaciente">Registrarse como paciente</a></div>
    <form action="/" method="POST">
        <div class="containerLogin">
            <div><label>Documento de Identidad</label></div>
            <div><input type="number" name="id" id="id"></div>
            <div><label>Contraseña</label></div>
            <div><input type="text" name="password" id="password"></div>
            <div></div>
            <div><button>Ingresar</button></div>
        </div>
    </form>
</body>

</html>